{% extends "dashboard/base.html" %}

{% block title %}
<title>Удаление инструмента</title>
{% endblock %}

{% block content %}
<h2>Удаление инструмента</h2>
<form method="POST" class="mb-3">
    {{ form.csrf_token }}
    <p>Вы уверены, что хотите удалить инструмент: <b>"{{ share.name }}"</b> ?</p>
    <input type="submit" class="btn btn-sm btn-outline-danger rounded-pill" value="Удалить"/>
    <a href="{{ url_for('index') }}" class="btn btn-sm btn-outline-secondary rounded-pill">Отмена</a>
</form>
{% endblock %}