{% extends "dashboard/base.html" %}

{% block title %}
<title>Список акций</title>
{% endblock %}

{% block content %}
<h2>Список акций</h2>

{% if current_user.is_authenticated %}
<div>
    <a href="{{ url_for('create') }}" class="btn btn-primary">Добавить</a>
</div>
{% endif %}

{% if share_list %}
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Тикер</th>
        <th scope="col">Название</th>
        <th scope="col">ISIN</th>
        <th scope="col">Цена / Тренд</th>
        {% if current_user.is_authenticated %}
        <th scope="col">Управление</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>

    {% for share in share_list %}
    <tr>
        <td><a href="{{ url_for('detail', share_id=share.id) }}"> {{share.ticker}} </a></td>
        <td>{{share.name}}</td>
        <td>{{share.isin}}</td>
        {% if share.is_trend_high is true %}
        <td style="background-color: mediumseagreen">
            {% elif share.is_trend_high is false %}
        <td style="background-color: palevioletred">
            {% else %}
        <td>
            {% endif %}
            {{share.last_price or 0}} {{ share.currency or "" }}
            {% if share.is_trend_high is true %} 📈
            {% elif share.is_trend_high is false %} 📉
            {% endif %}
        </td>
        {% if current_user.is_authenticated %}
        <td>
            <a href="{{ url_for('update', share_id=share.id) }}" class="btn btn-secondary btn-sm">
                Редактировать
            </a>
            <a href="{{ url_for('delete', share_id=share.id) }}" class="btn btn-danger btn-sm">
                Удалить
            </a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}

    </tbody>
</table>

<div class="btn-group mb-3" role="group" aria-label="Item pagination">
    {% if page_obj.has_prev %}
    <a href="{{ url_for('index', page=page_obj.prev_num) }}" class="btn btn-outline-primary">&laquo;</a>
    {% endif %}

    {% for page_number in page_obj.iter_pages() %}
    {% if page_number %}
    {% if page_obj.page == page_number %}
    <button class="btn btn-outline-primary active">
        <span>{{ page_number }} <span class="sr-only">(current)</span></span>
    </button>
    {% else %}
    <a href="{{ url_for('index', page=page_number) }}" class="btn btn-outline-primary">
        {{ page_number }}
    </a>
    {% endif %}
    {% else %}
    ...
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <a href="{{ url_for('index', page=page_obj.next_num) }}" class="btn btn-outline-primary">&raquo;</a>
    {% endif %}
</div>

{% else %}
<p>Акций еще нет. {% if current_user.is_authenticated %} Вы можете <a href="{{ url_for('create') }}">добавить</a> первую.{% endif %}</p>
{% endif %}

{% endblock %}