{% extends "dashboard/base.html" %}

{% block title %}
<title>Добавить инструмент</title>
{% endblock %}

{% block content %}
<h2>{{ 'Добавить инструмент' if not share else 'Редактировать инструмент' }}</h2>

<form method="POST" class="mb-3">
    {{ form.csrf_token }}

    <div class="mb-3">
        {{ form.figi.label(class="form-label") }}
        {{ form.figi(class="form-control") }}
        {% if form.figi.errors %}
        {% for error in form.figi.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.isin.label(class="form-label") }}
        {{ form.isin(class="form-control") }}
        {% if form.isin.errors %}
        {% for error in form.isin.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
        {% if form.name.errors %}
        {% for error in form.name.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.ticker.label(class="form-label") }}
        {{ form.ticker(class="form-control") }}
        {% if form.ticker.errors %}
        {% for error in form.ticker.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.currency.label(class="form-label") }}
        {{ form.currency(class="form-control") }}
        {% if form.currency.errors %}
        {% for error in form.currency.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {% endif %}
    </div>
    <div class="mb-3">
        {{ form.uid.label(class="form-label") }}
        {{ form.uid(class="form-control") }}
        {% if form.uid.errors %}
        {% for error in form.uid.errors %}
        <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {% endif %}
    </div>

    {{ form.submit(class="btn btn-lg btn-outline-secondary w-100") }}
</form>
{% endblock %}